<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

    <title>Schedule Template | CodyHouse</title>
</head>
<body>
<header>
    <img class="logo" src="img/logosmall.png"><h1 style="margin-top: 0px; margin-bottom: 0px;"><i class="icon-table"></i> Timetable Selector</h1>
    <button type="button" class="btn btn-warning">Exportar horário</button>
</header>
<div id="main" class="cd-schedule loading">
    <div class="timeline">
        <ul>
            <li><span>08:00</span></li>
            <li><span>08:30</span></li>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:30</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
            <li><span>18:30</span></li>
            <li><span>19:00</span></li>
            <li><span>19:30</span></li>
            <li><span>20:00</span></li>
            <li><span>20:30</span></li>
        </ul>
    </div> <!-- .timeline -->

    <div class="events" style="width: 62%;">
        <ul>
            <li v-for="day in timetable" class="events-group">
                <div class="top-info"><span>{{day.day}}</span></div>

                <ul>
                    <li v-for="lesson in day.lessons" class="single-event" v-bind:data-start="lesson.start" v-bind:data-end="lesson.end" data-content="event-abs-circuit" v-bind:data-event="lessonTypeDataEvent(lesson.type)" v-bind:style="lessonPositionCss(lesson.start, lesson.end)">
                        <a href="#0">
                            <span class="event-date">{{lesson.start}} - {{lesson.end}}</span>
                            <em class="event-name">{{lesson.name}}</em>
                            <div class="event-info">
                                <div>Professor: {{lesson.teacher}} <br> Sala: {{lesson.room}} Turma: {{lesson.class}} </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="picking">
        <div id="LDSO" class="class_picking">
            Laboratório de Desenvolvimento de Software (LDSO)
            <input type="radio" name="number" value="1" id="ldso_1">
            <label for="ldso_1">4MIEIC01 - LFT 3ª - 17:00</label>
            <input type="radio" name="number" value="2" id="ldso_2" >
            <label for="ldso_2">4MIEIC02 - AMA 3ª - 17:00</label>
            <input type="radio" name="number" value="3" id="ldso_3" data-button-color="yellow">
            <label for="ldso_3">4MIEIC03 - NHF 3ª - 17:00</label>
            <input type="radio" name="number" value="4" id="ldso_4">
            <label for="ldso_4">4MIEIC04 - RMA 4ª - 08:00</label>
            <input type="radio" name="number" value="5" id="ldso_5">
            <label for="ldso_5">4MIEIC05 - GMG 6ª - 16:00</label>
        </div>

        <div id="MFES" class="class_picking">
            Métodos Formais em Engenharia de Software (MFES)
            <input type="radio" name="number" value="1" id="mfes_1" data-button-color="yellow">
            <label for="mfes_1">4MIEIC01 - JPF 4ª - 09:00</label>
            <input type="radio" name="number" value="2" id="mfes_2">
            <label for="mfes_2">4MIEIC02 - ACP 2ª - 14:00</label>
            <input type="radio" name="number" value="3" id="mfes_3">
            <label for="mfes_3">4MIEIC03 - JPF 5ª - 16:00</label>
            <input type="radio" name="number" value="4" id="mfes_4">
            <label for="mfes_4">4MIEIC04 - HSF 3ª - 17:00</label>
            <input type="radio" name="number" value="5" id="mfes_5">
            <label for="mfes_5">4MIEIC05 - HSF 4ª - 09:00</label>
        </div>

        <div id="GEMP" class="class_picking">
            Gestão de Empresas (GEMP)
            <input type="radio" name="number" value="1" id="gemp_1" data-button-color="yellow">
            <label for="gemp_1">4MIEIC01 - LP 2ª - 14:00</label>
            <input type="radio" name="number" value="2" id="gemp_2">
            <label for="gemp_2">4MIEIC02 - LP 4ª - 08:30</label>
            <input type="radio" name="number" value="3" id="gemp_3">
            <label for="gemp_3">4MIEIC03 - JDGT 2ª - 14:00</label>
            <input type="radio" name="number" value="4" id="gemp_4">
            <label for="gemp_4">4MIEIC04 - JDGT 5ª - 16:00</label>
            <input type="radio" name="number" value="5" id="gemp_5">
            <label for="gemp_5">4MIEIC05 - JDGT 2ª - 17:00</label>
        </div>

        <div id="SINF" class="class_picking">
            Sistemas de Informação (SINF)
            <input type="radio" name="number" value="1" id="sinf_1">
            <label for="sinf_1">4MIEIC01 - NOSMRF 6ª - 16:00</label>
            <input type="radio" name="number" value="2" id="sinf_2" data-button-color="yellow">
            <label for="sinf_2">4MIEIC02 - NOSMRF 6ª - 10:30</label>
            <input type="radio" name="number" value="3" id="sinf_3">
            <label for="sinf_3">4MIEIC03 - VSFP 6ª - 16:00</label>
            <input type="radio" name="number" value="4" id="sinf_4">
            <label for="sinf_4">4MIEIC04 - VSFP 6ª - 10:30</label>
            <input type="radio" name="number" value="5" id="sinf_5">
            <label for="sinf_5">4MIEIC05 - VSFP 5ª - 16:00</label>
        </div>

        <div id="AIAD" class="class_picking">
            Agentes e Inteligência Artificial Distribuída
            <input type="radio" name="number" value="1" id="aiad_1" data-button-color="yellow">
            <label for="aiad_1">4MIEIC01 - APR 5ª - 16:00</label>
            <input type="radio" name="number" value="2" id="aiad_2">
            <label for="aiad_2">4MIEIC02 - APR 5ª - 10:30</label>
            <input type="radio" name="number" value="3" id="aiad_3">
            <label for="aiad_3">4MIEIC03 - HLC 4ª - 09:00</label>
            <input type="radio" name="number" value="4" id="aiad_4">
            <label for="aiad_4">4MIEIC04 - HLC 2ª - 14:00</label>
            <input type="radio" name="number" value="5" id="aiad_5">
            <label for="aiad_5">4MIEIC05 - HLC 3ª - 17:00</label>
        </div>
    </div>

    <div class="event-modal">
        <header class="header">
            <div class="content">
                <span class="event-date"></span>
                <h3 class="event-name"></h3>
            </div>

            <div class="header-bg"></div>
        </header>

        <div class="body">
            <div class="event-info"></div>
            <div class="body-bg"></div>
        </div>

        <a href="#0" class="close">Close</a>
    </div>

    <div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
<footer>
    Desenvolvido por: <a href="//ni.fe.up.pt">NIAEFEUP</a>
    <i class="icon-github"></i> <a href="https://github.com/NIFEUP/Timetable-Selector.git">Source Code</a>
    Bugs e feedback: github ou email ni at aefeup.pt
</footer>
<script src="js/modernizr.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/jquery.radiosforbuttons.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/vue-resource.min.js"></script>
<script>
    if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>
<script>
    $('#LDSO').radiosforbuttons({
        group: true, // grouped buttons
        vertical: true, // vertical mode
        autowidth: true,
        margin: 0, // space between buttons
        color: 'blue'
    });
    $('#MFES').radiosforbuttons({
        group: true, // grouped buttons
        vertical: true, // vertical mode
        autowidth: true,
        margin: 0, // space between buttons
        color: 'blue'
    });
    $('#GEMP').radiosforbuttons({
        group: true, // grouped buttons
        vertical: true, // vertical mode
        autowidth: true,
        margin: 0, // space between buttons
        color: 'blue'
    });
    $('#SINF').radiosforbuttons({
        group: true, // grouped buttons
        vertical: true, // vertical mode
        autowidth: true,
        margin: 0, // space between buttons
        color: 'blue'
    });
    $('#AIAD').radiosforbuttons({
        group: true, // grouped buttons
        vertical: true, // vertical mode
        autowidth: true,
        margin: 0, // space between buttons
        color: 'blue'
    });
</script>
<script src="js/app.js"></script>
</body>
</html>